<template>
    <table-widget :data="tableData"></table-widget>
    <pager-widget :links="links" @changedPage="changePage"></pager-widget>
</template>

<script>
import axios from "axios";
import {TableDataDto} from "@/components/UI/dto/TableDataDto";
import {USERS_LIST_URL} from "@/contantsBag/Server";

export default {
    name: "UsersList",
    data() {
        return {
            usersListUrl: USERS_LIST_URL,
            /**
             * @type {UserEntity[]}
             */
            users: [],
            /**
             * @type {LinkDto[]}
             */
            links: []
        }
    },
    methods: {
        loadUsers() {
            axios.get(this.usersListUrl)
                .then(response => {
                    this.users = response.data.data;
                    this.links = response.data.meta.links;
                })
                .catch(exception => console.error(exception.message));
        },
        /**
         * @param {string} url
         */
        changePage(url) {
            this.usersListUrl = url;
            this.loadUsers();
        }
    },
    mounted() {
        this.loadUsers();
    },
    computed: {
        /**
         * @returns {TableDataDto}
         */
        tableData() {
            const attributes = ['id', 'name', 'email', 'created_at'];
            const labels = {
                id: 'ID',
                name: 'Name',
                email: 'Email',
                created_at: 'Created At'
            };

            return new TableDataDto(attributes, labels, this.users);
        }
    }
}
</script>
