<template>
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <hr>
            <customers-list></customers-list>
        </div>
    </div>
</template>

<script>
import CustomersList from "@/components/customers/CustomersList.vue";

export default {
    name: "CustomersView",
    components: {
        CustomersList
    }
}
</script>
