<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Main page</h5>
            <hr>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid atque dicta dolore
                facere ipsam maiores mollitia natus, neque optio qui quo sint ut veritatis, voluptas, voluptate
                voluptatibus! Adipisci, error, voluptas? Accusantium aliquid culpa cupiditate distinctio dolor, eius
                error in placeat quaerat rem, similique temporibus tenetur voluptates. Animi assumenda at cupiditate
                doloremque est facere harum ipsam laboriosam magni minima necessitatibus perspiciatis praesentium quae
                quibusdam quis quos rem similique, totam! Animi expedita iure modi reprehenderit repudiandae, soluta
                tenetur? Beatae ipsum nemo nisi voluptatum! Aperiam commodi consectetur doloremque dolores ea eaque eius
                eligendi enim est facere, illo inventore ipsa ipsam, libero neque nesciunt nostrum obcaecati odit optio
                quisquam sequi sint suscipit temporibus tenetur unde vel voluptatem? Beatae doloribus fugiat nemo
                temporibus tenetur voluptates? Assumenda doloremque earum id inventore ipsam iste possimus quidem
                reiciendis rerum sequi! Eaque illum laudantium minima molestias natus quaerat temporibus ullam
                voluptatem! Magnam optio, quia? Ad architecto consequatur, dicta ducimus enim explicabo harum libero,
                nisi perspiciatis quasi quis reiciendis veritatis voluptate. A aperiam architecto asperiores autem
                consectetur consequatur debitis distinctio dolores eaque est facere fugit illum iste molestiae nemo
                neque nisi, nobis nulla numquam odit porro possimus quae quisquam quod rem repellat suscipit unde!
                Accusamus aperiam assumenda, cum ea error et provident? Aut, culpa cumque deleniti dolor earum eum fuga
                ipsam, laborum minima molestias officiis possimus, quas quasi quisquam sint tempore totam voluptatibus.
                Aliquam at corporis, debitis deserunt eligendi maxime minus molestias, necessitatibus, omnis quam quo
                sapiente ut voluptatem! Atque beatae dolores enim et, eum inventore iusto laborum libero mollitia nemo
                obcaecati omnis optio porro, possimus quas, quasi reiciendis rem repellendus rerum similique tempora
                vero voluptate. Ab alias assumenda commodi debitis delectus deleniti dolorem, dolorum esse explicabo
                fuga impedit iusto laboriosam minima nisi non odio omnis provident quas quo reiciendis rem repudiandae
                sunt tenetur velit veritatis voluptates, voluptatibus!
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "MainView"
}
</script>
