<template>
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <hr>
            <users-list></users-list>
        </div>
    </div>
</template>

<script>
import UsersList from "@/components/users/UsersList.vue";

export default {
    name: "UsersView",
    components: {UsersList}
}
</script>
