<template>
    <div class="row">
        <div class="col text-end">
            <button class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFilterForm"
                    aria-expanded="false"
                    aria-controls="collapseFilterForm"
            >
                Filter
            </button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="collapse" id="collapseFilterForm">
                <div class="card card-body">

                    <form @submit.prevent="filter">
                        <div class="row">
                            <div class="col-3 mb-3">
                                <label for="customer-id" class="form-label">
                                    ID
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-id"
                                       v-model="formModel.id"
                                       :class="{'is-invalid': this.errors.id.length > 0}"
                                >
                                <div class="invalid-feedback">
                                    {{ this.errors.id ? this.errors.id[0] : '' }}
                                </div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="customer-first_name" class="form-label">
                                    First name
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-first_name"
                                       v-model="formModel.first_name"
                                >
                            </div>

                            <div class="col-3 mb-3">
                                <label for="customer-last_name" class="form-label">
                                    Last name
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-last_name"
                                       v-model="formModel.last_name"
                                >
                            </div>

                            <div class="col-3 mb-3">
                                <label for="customer-email" class="form-label">
                                    Email
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-email"
                                       v-model="formModel.email_address"
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5 mb-3">
                                <label for="customer-address" class="form-label">
                                    Address
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-address"
                                       v-model="formModel.full_street_address"
                                >
                            </div>

                            <div class="col-4 mb-3">
                                <label for="customer-phone_number" class="form-label">
                                    Phone number
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-phone_number"
                                       v-model="formModel.phone_number"
                                >
                            </div>

                            <div class="col-3 mb-3">
                                <label for="customer-created_at" class="form-label">
                                    Created At
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="customer-created_at"
                                       v-model="formModel.created_at"
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-end">
                                <button class="btn btn-danger" @click="resetFilter">
                                    Reset filter
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {CustomerFilterFormDto} from "@/dto/customer/CustomerFilterFormDto";
import _ from 'lodash';
import {CustomerErrorsDto} from "@/dto/customer/CustomerErrorsDto";

export default {
    name: "CustomerFilterForm",
    emits: ['filtered', 'resetFilter'],
    props: {
        /**
         * @type {Object}
         */
        errors: {
            type: CustomerErrorsDto,
            required: false
        }
    },
    data() {
        return {
            formModel: new CustomerFilterFormDto()
        };
    },
    methods: {
        resetFilter() {
            this.formModel = new CustomerFilterFormDto();
            this.$emit('resetFilter');
        }
    },
    watch: {
        formModel: {
            handler: _.debounce(
                function () {
                    this.$emit('filtered', this.formModel);
                },
                500
            ),
            deep: true
        }
    }
}
</script>
