<template>
    <customer-filter-form
        :errors="this.errors"
        @filtered="filter"
        @resetFilter="resetFilter"
    ></customer-filter-form>
    <table-widget
        :data="tableData"
        :is-show-reset-sort-btn="isShowResetSortBtn"
        @changedSort="changeSort"
        @resetSort="resetSort"
    ></table-widget>
    <pager-widget :links="links" @changedPage="changePageByUrl"></pager-widget>
</template>

<script>
import {CUSTOMERS_LIST_URL} from "@/contantsBag/Server";
import axios from "axios";
import {TableDataDto} from "@/components/UI/dto/TableDataDto";
import {changeUrl, getPageFromUrl, getSortFromUrl, removeParamFromUrl} from "@/helpers/Url";
import CustomerFilterForm from "@/components/customers/CustomerFilterForm.vue";
import {CustomerErrorsDto} from "@/dto/customer/CustomerErrorsDto";

export default {
    name: "CustomersList",
    components: {CustomerFilterForm},
    data() {
        return {
            customersListUrl: CUSTOMERS_LIST_URL,
            /**
             * @type {CustomerEntity[]}
             */
            customers: [],
            /**
             * @type {LinkDto[]}
             */
            links: [],
            errors: new CustomerErrorsDto(),
            isShowResetSortBtn: getSortFromUrl() ?? false
        }
    },
    methods: {
        /**
         * @param {Object} params
         * @param {Sort} sort
         */
        loadCustomers(params = {}, sort = null) {
            const defaultParams = {};
            if (sort !== null) {
                defaultParams.sort = sort.getSort();
            }
            params = {...defaultParams, ...params};
            axios.get(this.customersListUrl, {params})
                .then(response => {
                    this.customers = response.data.data;
                    this.links = response.data.meta.links;
                    this.errors = new CustomerErrorsDto();
                })
                .catch(exception => {
                    this.errors = exception.response.data.errors;
                    console.error(exception.message)
                });
        },

        /**
         * @param {string} url
         */
        changePageByUrl(url) {
            this.customersListUrl = url;
            this.loadCustomers();
            changeUrl('page', getPageFromUrl(url));
        },

        /**
         * @returns {string[]}
         */
        getTableAttributes() {
            return [
                'id',
                'first_name',
                'last_name',
                'email_address',
                'full_street_address',
                'phone_numbers',
                'created_at'
            ];
        },

        /**
         * @returns {
         *   {
         *     id: string,
         *     first_name: string,
         *     last_name: string,
         *     email_address: string,
         *     full_street_address: string,
         *     phone_numbers: string,
         *     created_at: string
         *   }
         * }
         */
        getTableLabels() {
            return {
                id: 'ID',
                first_name: 'First Name',
                last_name: 'Last Name',
                email_address: 'Email',
                full_street_address: 'Address',
                phone_numbers: 'Phone',
                created_at: 'Created At'
            };
        },

        /**
         * @returns {string[]}
         */
        getTableSortable() {
            return ['id', 'first_name', 'last_name', 'email_address', 'created_at'];
        },

        /**
         * @param {Sort} sort
         */
        changeSort(sort) {
            this.loadCustomers({}, sort);
            changeUrl('sort', sort.getSort());
            this.isShowResetSortBtn = true;
        },

        /**
         * @returns void
         */
        resetSort() {
            this.loadCustomers({});
            removeParamFromUrl('sort');
            this.isShowResetSortBtn = false;
        },

        /**
         * @param {CustomerFilterFormDto} formModel
         */
        filter(formModel) {
            const page = 1;
            const params = {page};
            Object.keys(formModel).forEach(key => {
                if(formModel[key]) {
                    params[key] = formModel[key];
                }
            });
            this.loadCustomers(params);
            changeUrl('page', page);
        },

        /**
         * @returns void
         */
        resetFilter() {
            this.loadCustomers({});
        }
    },
    mounted() {
        this.loadCustomers();
    },
    computed: {
        /**
         * @returns {TableDataDto}
         */
        tableData() {
            const tableDataDto = new TableDataDto(
                this.getTableAttributes(),
                this.getTableLabels(),
                this.customers,
                this.getTableSortable()
            );
            tableDataDto.filters = {
                phone_numbers: function (value) {
                    let result = '';
                    value.forEach(phoneNumber => {
                        result += `${phoneNumber.type}: ${phoneNumber.number}<br>`;
                    });

                    return result;
                }
            };

            return tableDataDto;
        }
    }
}
</script>
