<template>
    <ul class="nav nav-pills">
        <router-link class="nav-link" :to="{name: item.to}" :active-class="'active'" v-for="item in menu">
            {{ item.label }}
        </router-link>
    </ul>
</template>

<script>
import menu from '@/menu.js';

export default {
    name: "MainMenu",
    data() {
        return {
            menu: menu
        };
    }
}
</script>
