<template>
    <div class="container pt-2">
        <main-menu></main-menu>

        <div class="main mt-3">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import MainMenu from "@/components/MainMenu.vue";

export default {
    name: "App",
    components: {
        MainMenu
    }
}
</script>
