<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li
                v-for="link in links"
                class="page-item"
                :class="{active: link.active, disabled: !link.url}"
            >
                <a
                    class="page-link"
                    href="#"
                    v-html="link.label"
                    @click.prevent="$emit('changedPage', link.url)"
                ></a>
            </li>
        </ul>
    </nav>
</template>

<script>
import {LinkDto} from "@/components/UI/dto/LinkDto";

export default {
    name: "PagerWidget",
    props: {
        /**
         * @type {LinkDto[]}
         */
        links: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>

</style>
