<template>

    <div class="row" v-if="isShowResetSortBtn">
        <div class="col text-end">
            <button class="btn btn-danger btn-sm" @click="resetSort">
                Reset sort
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th v-for="attribute in data.attributes" :class="'th-' + attribute">
                    <a href="#" v-if="isSortable(attribute)" @click.prevent="setSort(attribute)">
                        {{ getAttributeLabel(attribute) }}
                        <span v-if="sort.attribute === attribute">
                            <svg v-if="sort.asc" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg v-if="!sort.asc" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
                            </svg>
                        </span>
                    </a>
                    <span v-else>
                        {{ getAttributeLabel(attribute) }}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in data.data">
                <td v-for="attribute in data.attributes" v-html="getDataValue(attribute, item)">
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import {TableDataDto} from "@/components/UI/dto/TableDataDto";
import {Sort} from "@/dto/Sort";

export default {
    name: "TableWidget",
    emits: ['changedSort', 'resetSort'],
    props: {
        data: {
            type: TableDataDto,
            required: true
        },
        isShowResetSortBtn: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            sort: new Sort()
        };
    },
    methods: {
        /**
         * @param {string} attribute
         * @returns string
         */
        getAttributeLabel(attribute) {
            return this.data.labels[attribute];
        },

        /**
         * @param {string} attribute
         * @param {Object} item
         *
         * @returns any
         */
        getDataValue(attribute, item) {
            return this.filterDataValue(attribute, item[attribute]);
        },

        /**
         * @param {string} attribute
         * @param {any} value
         *
         * @returns any
         */
        filterDataValue(attribute, value) {
            const attributeFilter = this.data.filters[attribute] ?? null;
            if (attributeFilter) {
                if (typeof attributeFilter === 'function') {
                    return attributeFilter(value);
                }

                return this.data.filters[attribute];
            }

            return value;
        },

        /**
         * @param {string} attribute
         * @returns {boolean}
         */
        isSortable(attribute) {
            return this.data.sortable.includes(attribute);
        },

        setSort(attribute) {
            if (this.sort.attribute && this.sort.attribute === attribute) {
                this.sort.asc = !this.sort.asc;
            } else {
                this.sort.attribute = attribute;
            }
            this.$emit('changedSort', this.sort);
        },

        resetSort() {
            this.sort = new Sort();
            this.$emit('resetSort');
        }
    },
}
</script>

<style scoped>
.th-full_street_address {
    width: 300px;
}
.th-email_address {
    width: 200px;
}
</style>
